<p style='font-size: 21pt; margin-left: 20px;' >Оплата</p>
<p style='font-size: 15pt; margin-left: 20px;' >Заказ №{{payData.num}}</p>
<img  class='col-md-6' src='/css/images/page/kassa.png' style="margin-left: 5%;">
 <form class='col-md-3' action='https://auth.robokassa.ru/Merchant/Index.aspx' method="POST" style="display:inline; margin-left: 5%; margin-top:5%;">
 <input type="hidden" name="MrchLogin" value={{payData.login}}>
 <input type="hidden" name="OutSum" value={{payData.sum}}>
 <input type="hidden" name="InvId" value={{payData.num}}>
 <input type="hidden" name="Desc" value={{payData.desc}}>
 <input type="hidden" name="SignatureValue" value={{payData.sign}}>
 <input type="hidden" name="Culture" value="ru">
 <input type="hidden" name="Encoding" value="utf-8">
 <input type="hidden" name="Email" value={{payData.email}}>
 <input class="btn btn-success btn-lg" type="submit" value='Оплатить'>
</form>