<p style='font-size: 21pt; margin-left: 20px;' >Оплата</p>
<script language=JavaScript src='https://auth.robokassa.ru/Merchant/PaymentForm/FormMS.js? MerchantLogin={{login}}&OutSum={{sum}}&InvoiceID={{num}}&Description={{desc}}&SignatureValue={{sign}}'></script>