<!DOCTYPE html>
<html>
<head>
	{{#if title.name}}
		{{#if title.subcatname}}
			<title>{{title.name}} - {{title.subcatname}}</title>
		{{else}}	
		<title>{{title.name}}</title>
		{{/if}}	
	{{else}}
		{{#unless product.name}}
			<title>Интернет-магазин: витамины, биодобавки, косметика из Японии.</title>
		{{else}}
			<title>{{product.name}}</title>
		{{/unless}}
	{{/if}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	{{#unless product.description}}
		<meta name="description" content="В нашем магазине представлены косметика, витамины и биодобавки из Японии">
	{{else}}
		<meta name="description" content="{{product.description}}">
	{{/unless}}
	<meta name="keywords" content="японская косметика недорого, косметика из Японии, биодобавки из Японии, коллаген,
	биодобавки для красоты, диета, товары для похудения, биодобавки, витамины, БАДы для суставов, для иммунитета, похудение, 
	японская косметика, натуральная косметика, биодобавки для глаз, японские глазные капли, японские БАДы" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css"/>
	<link rel="shortcut icon" href="/favicon.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="/css/slick.css"/>
	<link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>
	<script src="/api/jquery2.js"></script>
	<script type="text/javascript" src="//glavpunkt.ru/js/punkts-widget/glavpunkt.js"> </script> 
	<script src="/api/bootstrap.min.js"></script>
	<script src='/scripts/app.js'></script>
</head>
<body>
<div class="flag" id='adminBookmark' style='display: none;'></div>
<div class='container'>
	<div class='row header'>
		<div class='col-md-6 text-center'>
			<div class='text-left' id='brand'>
			<br>
			<p><a href="/" style='color: #00cc00; font-size:35pt;font-weight:bold;text-decoration: none;'>Satomi-Japan</a></p>
			</div>	
		</div>
	</div>
<nav class="navbar navbar-default" role="navigation"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
       </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav nav-tabs nav-justified">
        <li class='navbarLi'><a href="/static/fedex" class="tab">Доставка и оплата</a></li>
		<li class='navbarLi'><a href="/static/contacts" class="tab">Контакты</a></li>
		<li class='navbarLi'><a href="/static/articles" class="tab">Статьи</a></li>
		<li class='navbarLi'><a href="/static/about" class="tab">О магазине</a></li>
		<li class='navbarLi'><a href="/static/makeup" class="tab">Косметика</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<div class='row banners text-center'>
	{{#each carousel}}
		<div style='text-align:center;'><img class='carousel_image' src='/carousel/images/{{this}}' alt={{this}} style='margin:auto;'></div>
	{{/each}}
</div>
<div class='row'>
	<div class='col-md-4 col-sm-4 sidebar'>
		<div id='searchArea'>
		 <div class="input-group">
			<input type="text" class="form-control searchProduct" placeholder="Поиск товара">
			<span class="input-group-btn">
			<button class="btn btn-default searchSubmit" type="button">Go!</button>
			</span>
		</div>
		<select multiple class="form-control" id='searchResult'>
		</select>
		</div>
		<div id='cart'>
			<p>КОРЗИНА</p>
			<p class='productQuantity'>В корзине нет товаров</p>
		</div>
		<div  class='showCategoriesField' style='margin-bottom: 20px;'><a href='#' style='color: black; margin-bottom: 40px;' class='showCategories'>Товары по категориям &ensp; <span  class="glyphicon glyphicon-menu-down"></a></div>
		<div class='categoriesList'>
			<ul class='nav nav-sidebar'>
			{{#each category}}
				 <li><a href="#" class='categoryChoose'><img src='{{image_micro_thumb}}'> &ensp; {{name}} <span style='float: right; top: 10px;' class="glyphicon glyphicon-menu-down"></span></a>
					<ul class="dropdown-subcategory" style='display: none;'>
						{{#each this.subcategory}}
							<li><a href="/subcategory/{{../_id}}/{{id}}" class='subcategoryChoose'>{{name}}</a></li>
						{{/each}}
					</ul>                    
				</li>
			{{/each}}
			</ul>
		</div>
    </div>
	<div class='col-md-8 productsSpace'>
		{{{body}}}
    </div>
</div>
</div>
</div>
<link  href="/api/jquery.fancybox.min.css" rel="stylesheet">
<script src="/api/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="/api/slick.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
		$('.banners').slick( {
			dots: true,
			infinite: true,
			slidesToShow: 3,
			slidesToScroll: 1,
			autoplay: true,
			prevArrow:'<span class="slick-prev glyphicon glyphicon-chevron-left"></span>',
			nextArrow:'<span class="slick-next glyphicon glyphicon-chevron-right"></span>',
			autoplaySpeed: 2000,
			responsive: [
				{
					breakpoint: 1200,
					settings: {
					slidesToShow: 3,
					slidesToScroll: 3,
					infinite: true,
					dots: true
				}
				},
				{
					breakpoint: 768,
					settings: {
					slidesToShow: 2,
					slidesToScroll: 2
					  }
				},
				{
					breakpoint: 400,
					settings: {
					slidesToShow: 1,
					slidesToScroll: 1
				  }
				}
			]
		});
    });
  </script>
</body>
<footer class='footer' id='footer'>
	<div class='text-center' >Интернет-магазин: <b class='active'>витамины, биодобавки, косметика из Японии</b>. Знаменитое японское качество: мы заботимся о Вашей красоте и здоровье.
	<br>© 2011-2018 Все права защищены. 
</div>
</footer>